[submodule "net/grpc-go"]
	path = net/grpc-go
	url = https://github.com/grpc/grpc-go
[submodule "gonic/gonic-tools"]
	path = gonic/gonic-tools
	url = git@github.com:ahuigo/gonic-tools.git
[submodule "gonic/goos-tools"]
	path = gonic/goos-tools
	url = git@github.com:ahuigo/goos-tools.git
[submodule "app/selfhttps"]
	path = app/selfhttps
	url = git@github.com:ahuigo/selfhttps.git
[submodule "gonic/ginapp"]
	path = gonic/ginapp
	url = git@github.com:ahuigo/ginapp.git
[submodule "algo/gods"]
	path = algo/gods
	url = git@github.com:emirpasic/gods.git
