[submodule "net/grpc-go"]
	path = net/grpc-go
	url = https://github.com/grpc/grpc-go
[submodule "gonic/gonic-tools"]
	path = gonic/gonic-tools
	url = git@github.com:ahuigo/gonic-tools.git
[submodule "gonic/goos-tools"]
	path = gonic/goos-tools
	url = git@github.com:ahuigo/goos-tools.git
