name: Release

on:
  push: 
    tags: 'ginapp*'
  # pull_request:
  #   branches: [main]
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/ginapp')
    permissions: 
      contents: write
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ^1.22
      - name: Set AppVersion
        run: |
          echo "GOVERSION=$(go version | sed -r 's/go version go(.*)\ .*/\1/')" >> $GITHUB_ENV
          echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
          echo "BuildDate=$(date -Iseconds)" >> $GITHUB_ENV
      - name: Change directory 
        run: cd gonic/ginapp
      - name: Show version
        run: echo ${{ env.GOVERSION }} ${{ env.VERSION }} | ls

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: '~> v2'
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

